<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink routerLink="">First</a>
    <ng-template ngbNavContent>First content</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="imageUpload">Upload Image</a>
    <ng-template ngbNavContent>Upload Image</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="myImages">Get My Images</a>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
  <li *ngIf="!userIsAuthenticated" ngbNavItem  class="ml-auto">
    <a class="btn btn-primary" ngbNavLink routerLink="login">Login</a>
    <ng-template ngbNavContent></ng-template>
  </li>
  <li *ngIf="!userIsAuthenticated" ngbNavItem  class="ml-auto">
    <a class="btn btn-danger" ngbNavLink routerLink="signup" (click)="openSignUp()">Signup</a>
    <ng-template ngbNavContent></ng-template>
  </li>
  <li *ngIf="userIsAuthenticated" ngbNavItem  class="ml-auto">
    <a class="btn btn-danger" ngbNavLink routerLink="logout" (click)="logout()">logout</a>
    <ng-template ngbNavContent></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
